<section class="container mt-5">
    <div class="row">
        <div class="col-md-5 mx-auto mt-5">
            <h1>Register</h1>
            <hr>
            <form action="">
                <div class="form-group">
                    <label for="">Name:</label>
                    <input type="email" name="" id="" class="form-control" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="">Email:</label>
                    <input type="email" name="" id="" class="form-control" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="">Password:</label>
                    <input type="password" name="" id="" class="form-control" placeholder="password">
                </div>
                <button type="submit" class="btn btn-success float-right">register</button>
            </form>
        </div>
    </div>
</section>